*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(rgba(255, 247, 103, 0.971), rgb(255, 178, 178), rgb(174, 215, 255));
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    display: flex;
    height: 25%;
    position: absolute;
    top: 20px;
    justify-content: center;
    right:675px;
}
.pepsi{
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top: 250px;
    left: 55px;
}
.pepsi_f{
    height: 25%;
    position:absolute;
    top: 320px;
    left: 65px;
}
.pepsi:hover{
    transition: 2s;
    color:red;
    box-shadow: 0px 3px red;
    
}
.p1:hover{
    transition: 1s;
    font-size: 150%;
    
}
.p1 img:hover{
    transition: 1s;
    height: 30%;
    font-size: 110%;
}

.pf{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    position: absolute;
    top:350px;
    left: 240px;
}
.fiyat_p li{
    list-style: none;
}
.fiyat_p{
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    position: absolute;
    top:380px;
    left: 200px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.lipton{
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top: 250px;
    left: 440px;
}
.lipton_f{
    height: 25%;
    position:absolute;
    top: 320px;
    left: 450px;
}
.lipton:hover{
    transition: 2s;
    color:red;
    box-shadow: 0px 3px red;
    
}
.p2:hover{
    transition: 1s;
    font-size: 150%;
    
}
.p2 img:hover{
    transition: 1s;
    height: 30%;
    font-size: 110%;
}

.lf{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    position: absolute;
    top:350px;
    left: 685px;
}
.fiyat_l li{
    list-style: none;
}
.fiyat_l{
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    position: absolute;
    top:380px;
    left: 650px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.sprite{
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top: 250px;
    left: 880px;
}
.sprite_f{
    height: 25%;
    position:absolute;
    top: 320px;
    left: 900px;
}
.sprite:hover{
    transition: 2s;
    color:red;
    box-shadow: 0px 3px red;
    
}
.p3:hover{
    transition: 1s;
    font-size: 150%;
    
}
.p3 img:hover{
    transition: 1s;
    height: 30%;
    font-size: 110%;
}

.sf{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    position: absolute;
    top:350px;
    left: 1045px;
}
.fiyat_s li{
    list-style: none;
}
.fiyat_s{
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    position: absolute;
    top:380px;
    left: 1020px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.uc{
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top: 250px;
    left: 1160px;
}
.uc_f{
    height: 25%;
    position:absolute;
    top: 360px;
    left: 1140px;
}
.uc:hover{
    transition: 2s;
    color:red;
    box-shadow: 0px 3px red;
    
}
.p4:hover{
    transition: 1s;
    font-size: 150%;
    
}
.p4 img:hover{
    transition: 1s;
    height: 30%;
    font-size: 110%;
}

.uf{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    position: absolute;
    top:350px;
    left: 1405px;
}
.fiyat_u li{
    list-style: none;
}
.fiyat_u{
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    position: absolute;
    top:380px;
    left: 1390px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
